body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.p {
	text-align: center;
	margin: 0 auto;
	font-size: 21px;
}

.num-form {
	width: 50px;
}