body {
	font-family: 'Open Sans', bold;
	padding-top: 20px;
	padding-bottom: 20px;
}
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.p {
	text-align: center;
	margin: 0 auto;
	font-size: 21px;
}

input {
	width: 60px;
	font-size: 21px;
}

select {
	font-size: 21px;
}

label {
	font-size: 21px;
}

.calc-result {
    border-style: solid;
    border-width: medium;
}
